Q1: What are data structures, and why are they important?
A: Data structures are specialized formats for organizing, processing, retrieving, and storing data.
They are important because they help in managing and organizing data efficiently, allowing for
faster and more effective data manipulation, search, and storage operations

Q2: Explain the difference between mutable and immutable data types with examples.
A: Mutable data types can be changed after creation (e.g., lists: a = [1, 2]; a[0] = 3). Immutable data
types cannot be changed after creation (e.g., strings: s = 'hello'; s[0] = 'H' will cause an error).

Q3: What are the main differences between lists and tuples in Python?
A: Lists are mutable, slower, and denoted by []. Tuples are immutable, faster, and denoted by ().
Tuples are often used for fixed collections of items.

Q4: Describe how dictionaries store data.
A: Dictionaries store data as key-value pairs. Each key must be unique, and it maps to a
corresponding value. Data is stored in a hash table internally.

Q5: Why might you use a set instead of a list in Python?
A: Sets automatically remove duplicates and are optimized for membership testing, making them
useful for operations like finding unique elements.

Q6: What is a string in Python, and how is it different from a list?
A: A string is an immutable sequence of characters, while a list is a mutable sequence that can hold
any data types. Strings can't be changed after creation, lists can.

Q7: How do tuples ensure data integrity in Python?
A: Tuples are immutable, meaning their contents cannot be changed once defined. This prevents
accidental modification, ensuring data integrity.

Q8: What is a hash table, and how does it relate to dictionaries in Python?
A: A hash table is a data structure that maps keys to values using a hash function. Python
dictionaries use hash tables for fast data retrieval

Q9: Can lists contain different data types in Python?
A: Yes, lists in Python can hold multiple data types, such as integers, strings, and even other lists.

Q10: Explain why strings are immutable in Python.
A: Strings are immutable to ensure consistency, memory efficiency, and thread-safety. Any
operation that modifies a string creates a new string.

Q11: What advantages do dictionaries offer over lists for certain tasks?
A: Dictionaries provide faster lookup by keys (O(1) time complexity) and are better suited when data
is naturally associated as key-value pairs.

Q12: Describe a scenario where using a tuple would be preferable over a list.
A: Tuples are ideal when data should not change, such as storing coordinates, RGB color values, or
database records.

Q13: How do sets handle duplicate values in Python?
A: Sets automatically eliminate duplicate values. Adding a duplicate element has no effect.

Q14: How does the 'in' keyword work differently for lists and dictionaries?
A: For lists, `in` checks if a value exists. For dictionaries, `in` checks if a key exists.

Q15: Can you modify the elements of a tuple? Explain why or why not.
A: No, tuples are immutable. Once created, their elements cannot be changed, ensuring stability
and data integrity.

Q16: What is a nested dictionary, and give an example of its use case.
A: A nested dictionary is a dictionary where values are also dictionaries. Example: student = {'name':
'John', 'grades': {'math': 90, 'science': 85}}.

Q17: Describe the time complexity of accessing elements in a dictionary.
A: Accessing elements in a dictionary has an average time complexity of O(1), thanks to its
underlying hash table implementation.

Q18: In what situations are lists preferred over dictionaries?
A: Lists are preferred when order matters or when dealing with a simple collection of items without
needing key-based access.

Q19: Why are dictionaries considered unordered, and how does that affect data retrieval?
A:Dictionaries were implemented using hash tables.
The internal storage of items was based on the hash of the key, not the order of insertion.
As a result, iterating through a dictionary would return items in arbitrary order, and that order could even change between executions.

Q20: Explain the difference between a list and a dictionary in terms of data retrieval.
A: Lists retrieve data using integer indices (e.g., a[0]), while dictionaries retrieve data using unique
keys (e.g., d['name']).

Practical Questions

Q1- Write a code to create a string with your name and print it.

In [ ]:
My_Name = "Anand Pathak"
print("My Name is-",My_Name)

Q2- Write a code to find the length of the string "Hello World".

In [3]:
strng = "Hello World"
length = len(strng)
print("Length of string is ",length)

Length of string is  11

Q3- Write a code to slice the first 3 characters from the string "Python Programming".

In [8]:
Code = "Python Programming"
Sliced_Code = Code[0:3]
print("First three characters are:",Sliced_Code)

First three characters are: Pyt

Q4- Write a code to convert the string "hello" to uppercase.

In [9]:
Text = "hello"
Text2 = Text.upper()
print("Converted uppercase string is:",Text2)

Converted uppercase string is: HELLO

Q5- Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [14]:
Text1 = "I like apple"
Replaced_Text = Text1.replace("apple","orange")
print("Replaced Text is: ",Replaced_Text)

Replaced Text is:  I like orange

Q6- Write a code to create a list with numbers 1 to 5 and print it.

In [15]:
List1 = [1,2,3,4,5]
print("Here,is the list of numbers from 1 to 5:",List1)

Here,is the list of numbers from 1 to 5: [1, 2, 3, 4, 5]

Q7- Write a code to append the number 10 to the list [1, 2, 3, 4]

In [17]:
List2 = [1,2,3,4]
List2.append(10)
print("The appended list is here:",List2)

The appended list is here: [1, 2, 3, 4, 10]

Q8- Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [18]:
List4 = [1, 2, 3, 4, 5]
List4.remove(3)
print("Updated list is here:",List4)

Updated list is here: [1, 2, 4, 5]

Q9- Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [20]:
List5 = ['a', 'b', 'c', 'd']
second_element = List5[1]
print("Second Element in list is:",second_element)

Second Element in list is: b

Q10- Write a code to reverse the list [10, 20, 30, 40, 50].

In [21]:
List6 = [10, 20, 30, 40, 50]
List6.reverse()
print("Reversed list is here:",List6)

Reversed list is here: [50, 40, 30, 20, 10]

Q11- Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [22]:
Tple = (100,200,300)
print("The Tuple from given element is here:",Tple)

The Tuple from given element is here: (100, 200, 300)

Q12-  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [23]:
Colors = ('red', 'green', 'blue', 'yellow')
Colors1 = Colors[-2]
print("The second-to-last element is:",Colors1)

The second-to-last element is: blue

Q13- Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [24]:
My_tuple = (10, 20, 5, 15)
min(My_tuple)

5

Q14- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [25]:
Animals = ('dog', 'cat', 'rabbit')
Animals_index = Animals.index("cat")
print("The index of element cat is:",Animals_index)

The index of element cat is: 1

Q15- Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [28]:
Fruits = ("Mango","Avacado","Kiwi")
Fruits2 = "Kiwi" in Fruits
print("Is 'kiwi' in the tuple?",Fruits2)

Is 'kiwi' in the tuple? True

Q16- Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [31]:
Set1 = {"a","b","c"}
print("The desired set is here:",Set1)

The desired set is here: {'b', 'a', 'c'}

In [32]:
type(Set1)

set

Q17- Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [34]:
Set2 = {1, 2, 3, 4, 5}
Set2.clear()
print("Your cleared set is here:",Set2)

Your cleared set is here: set()

Q18- Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [36]:
Set3 = {1, 2, 3, 4}
Set3.remove(4)
print("Updated set:", Set3)

Updated set: {1, 2, 3}

Q19- Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [39]:
Set_A = {1, 2, 3}
Set_B = {3, 4, 5}
Union_Set = Set_A.union(Set_B)
print("The union of two sets is here:",Union_Set)

The union of two sets is here: {1, 2, 3, 4, 5}

Q20- Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [40]:
Set_C = {1, 2, 3}
Set_D = {2, 3, 4}
Intersection_Set = Set_C.intersection(Set_D)
print("The intersection of given set is:",Intersection_Set)

The intersection of given set is: {2, 3}

Q21- Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [41]:
Dict1 = {"Name":"Anand Pathak","Age":21,"City":"Lucknow"}
print("Here is the required output:",Dict1)

Here is the required output: {'Name': 'Anand Pathak', 'Age': 21, 'City': 'Lucknow'}

Q22- Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [42]:
Dict2 = {'name': 'John', 'age': 25}
Dict2["country"] = "USA"
print("Updated dictionary:",Dict2)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

Q23- Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [44]:
Dict3 =  {'name': 'Alice', 'age': 30}
Dict4 = Dict3["name"]
print("Here is the value associated with name key:",Dict4)

Here is the value associated with name key: Alice

Q24- Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [46]:
Dict5 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del Dict5["age"]
print("Updated dictionary:",Dict5)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

Q25- Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [47]:
Dict6 = {'name': 'Alice', 'city': 'Paris'}
Dict7 = "city" in Dict6
print("Result:",Dict7)

Result: True

Q26- Write a code to create a list, a tuple, and a dictionary, and print them all.

In [49]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'Anand', 'age': 21}

# Print all data structures
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Anand', 'age': 21}

Q27- Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [50]:
import random

numbers = []

numbers.append(random.randint(1, 100))
numbers.append(random.randint(1, 100))
numbers.append(random.randint(1, 100))
numbers.append(random.randint(1, 100))
numbers.append(random.randint(1, 100))

numbers.sort()

print("Sorted random numbers:", numbers)

Sorted random numbers: [31, 38, 70, 88, 96]

Q28- Write a code to create a list with strings and print the element at the third index.

In [52]:
Lst = ["Anand","Vaibhav","Vihan","Rishan","Faiz"]
Lst1 = Lst[3]
print("The required list is:",Lst)
print("The element at third index is:",Lst1)

The required list is: ['Anand', 'Vaibhav', 'Vihan', 'Rishan', 'Faiz']
The element at third index is: Rishan

Q29- Write a code to combine two dictionaries into one and print the result.

In [53]:
dict1 = {'a': 1, 'b': 2}

dict2 = {'c': 3, 'd': 4}

dict1.update(dict2)

print("Combined dictionary:", dict1)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q30- Write a code to convert a list of strings into a set.

In [54]:
lstrng = ["Anand","Vaibhav","Vihan","Rishan","Faiz"]
Setrng = set(lstrng)
print("The converted set is here:",Setrng)

The converted set is here: {'Anand', 'Rishan', 'Faiz', 'Vihan', 'Vaibhav'}